<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unisinsight.vdp.core.mapper.DataRetentionPeriodLogMapper">
  <resultMap id="BaseResultMap" type="com.unisinsight.vdp.core.model.DataRetentionPeriodLog">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="SMALLINT" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="vehicle" jdbcType="INTEGER" property="vehicle" />
    <result column="face_snap" jdbcType="INTEGER" property="faceSnap" />
    <result column="person" jdbcType="INTEGER" property="person" />
    <result column="vehicle_notification" jdbcType="INTEGER" property="vehicleNotification" />
    <result column="face_notification" jdbcType="INTEGER" property="faceNotification" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>